h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", serif;
}
body,
a,
span,
p {
    font-family: "Roboto", serif;
}

/* Custom Css */

.main-menu .container-fluid {
    width: 1300px;
}

/* primary menu */

ul.primary-menu {
}
ul.primary-menu li {
    position: relative;
}
ul.primary-menu li span {
    font-size: 10px;
}
ul.primary-menu li a {
    text-decoration: none;
    padding: 10px 20px;
    color: #111;
    font-weight: 500;
}
ul.primary-menu li a:hover {
    color: #e73c3e;
    transition: 0.4s;
}

/* DropDown menu */

ul.primary-menu li ul {
    position: absolute;
    top: 160%;
    left: 0;
    margin-top: 10px;
    width: 250px;
    padding: 10px;
    list-style: none;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;

    display: flex;
    flex-direction: column;
}
ul.primary-menu li:hover ul {
    opacity: 1;
    visibility: visible;
    top: 100%;
}
ul.primary-menu li ul li {
    list-style: none;
    padding: 5px 0px;
}

.header-info {
}
.header-search {
    width: 40px;
    font-size: 25px;
    border-right: 1px solid #ddd;
    margin-top: 5px;
}
.header-call {
    width: 200px;
    margin-left: 5px;
}
.call-icon {
    font-size: 25px;
    margin-top: 4px;
    color: #e73c3e;
}
.call-info {
}
.call-info span {
    color: #606060;
}
.call-info a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
}
.header-button {
}
body .btn-primary {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    padding: 10px 35px;
    background-color: #e73c3e !important;
    border-radius: 6px;
    border: none;

    position: relative;
    z-index: 1;
}

body .btn-primary::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #111;
    border-radius: 6px;
    z-index: -1;
    visibility: hidden;
}

body .btn-primary:hover::after {
    width: 100%;
    visibility: visible;
    transition: 0.4s;
}

/* Slider Section */

.slider-section {
    background: url(./img/main-banner2.jpg) no-repeat top center;
    background-size: cover;
}
.slider-content {
}
.slider-content-wrap {
    height: 120vh;
    position: relative;
}
.slider-content h4 {
    color: #e73c3e;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 16px;
}
.slider-content h1 {
    color: #111;
    font-size: 60px;
    margin-bottom: 24px;
}
.slider-content p {
    font-size: 20px;
    font-weight: 300;
    color: #606060;
}
.slider-content a {
}

/* Social Menu */

.social-menu {
}
.social-menu ul {
    list-style: none;
    flex-direction: row;
    position: absolute;
    bottom: 25px;
    left: 0px;
}
.social-menu ul li span {
    position: relative;
    color: #111;
    margin-right: 30px;
}

.social-menu ul li span::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 30px;
    top: 50%;
    right: -38px;
    background-color: #111;
}
.social-menu ul li {
    display: inline-block;
    padding: 10px 10px;
    color: #111;
}
.social-menu ul li a {
    display: inline-block;
    color: #111 !important;
}
.social-menu ul li a:hover {
    color: #e73c3e;
    transition: all 0.4s;
}

/* logo section */

.logo-section {
    padding: 80px 0;
}
/* About section */

.about-section {
}
.about-img-left {
    position: relative;
}
.about-img-inner {
    text-align: center;
    height: 200px;
    width: 200px;
    background: url(./img/shape.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    bottom: -22px;
    right: 0;
}

.about-img-inner-wrap {
}
.about-img-inner h2 {
    color: #e73c3e;
    font-size: 60px;
    font-weight: 600;
}
.about-img-inner p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 17px;
}
.about-right-text {
}
.about-right-text h4 {
    color: #e73c3e;
    font-weight: 400;
    font-size: 17px;
    margin: 12px 0;
}
.about-right-text h2 {
    color: #111;
    font-weight: 400;
    font-size: 32px;
    margin: 25px 0;
}
.about-right-text p {
    color: #606060;
    font-size: 16px;
    font-weight: 400;
}
.about-right-text strong {
    color: #606060;
    font-weight: 300;
    font-size: 22px;
    margin: 15px 0;
    display: inline-block;
}
.about-right-text .btn {
    margin-top: 15px;
}

.about-right-list {
}
.about-right-list ul {
}
.about-right-list ul li {
    position: relative;
    color: #606060;
    padding: 6px 0;
    margin-left: 30px;
}
.about-right-list ul li::before {
    content: "\f00c";
    position: absolute;
    left: -30px;
    top: 4px;
    font-size: 20px;
    font-weight: 700;
    color: #e73c3e;
    font-family: "Font Awesome 5 Free";
}

/* why choose section */

.why-choose-section {
    background-color: #f9fafb;
}
.why-left {
}
.why-left-content {
}
.why-left-img {
    position: relative;
}
.why-left-img .playbutton a {
    height: 80px;
    width: 80px;
    background: #fff;
    color: #e73c3e;
    line-height: 80px;
    font-size: 50px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    right: 170px;
    bottom: 65px;
}
.why-left-img .playbutton a::before {
    content: "";
    height: 80px;
    width: 80px;
    background-color: #e73c3e;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    animation: playbutton 1s ease-in-out infinite;
}

/* Animation */
@keyframes playbutton {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    50% {
        opacity: 0.5;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
}

.feature-items {
    margin-top: 70px;
}
.feature-item {
    background: #fff;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: 0.4s;
}
.feature-item::before {
    content: "";
    position: absolute;
    top: -135px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #e83b3e75;
    width: 90%;
    height: 62%;
    border-radius: 50%;
}
.feature-item:hover {
    transform: translateY(-15px);
}
.feature-icon {
    height: 90px;
    width: 90px;
    font-size: 40px;
    line-height: 90px;
    color: #e83b3e;
    margin: auto;
    border-radius: 50%;
    background-color: #fafafa;
}
.feature-body {
}
.feature-body h4 {
    color: #111;
    font-size: 25px;
    font-weight: 500;
}
.feature-body p {
    font-weight: 400;
    font-size: 15px;
}

.mtop {
    margin-top: -25px;
}

/* business loan section */

.business-loan-section {
}
.business-loan-left {
}
.business-loan-left h2 {
    font-size: 35px;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 35px;
}
.business-loan-left .step-listing {
}
.business-loan-left .step-listing ul {
    position: relative;
    padding-left: 45px;
}
.business-loan-left .step-listing ul::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    background-color: #e83b3e;
    height: calc(100% - 100px);
}
.business-loan-left .step-listing ul li {
    margin-top: 33px;
    position: relative;
}

.business-loan-left .step-listing ul li::before {
    content: attr(data-count);
    position: absolute;
    top: -5px;
    left: -65px;

    height: 40px;
    width: 40px;
    background: #fff;
    line-height: 40px;
    border: 1px solid #e83b3e;
    border-radius: 50%;
    text-align: center;
}
.business-loan-left .step-listing ul li h3 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #111;
}
.business-loan-left .step-listing ul li p {
    color: #606060;
    font-size: 17px;
    font-weight: 300;
}

/* form section */
.form-section {
    background-color: #fdebeb;
}

.form-calculate {
}

.form-main {
}
.form-main label {
    color: #606060;
    font-size: 18px;
    font-weight: 400;
    margin-top: 22px;
    margin-bottom: 10px;
}
.form-main input {
}
.form-main button {
}

/* call-to action section */

.call-to-action-section {
    padding: 40px 0;
}
.call-to-action-section .container {
    background-color: #e83b3e;
}
.left-call {
    position: relative;
    padding: 20px;
}
.left-call::after {
    content: "";
    width: 1px;
    height: calc(100% - 30px);
    position: absolute;
    top: 10px;
    right: 0;
    background-color: #fff;
}
.left-call h2 {
    color: #fff;
}
.right-call {
}
.right-call a {
    position: relative;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    margin-right: 20px;
    margin-top: 50px;
    display: inline-block;
}
.right-call a::before {
    content: "\f095";
    position: absolute;
    top: 6px;
    left: -65px;
    font-size: 20px;
    font-weight: 700;
    background-color: #fff;
    color: #e83b3e;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-family: "Font Awesome 5 Free";
}

/* footer section */

.footer-section {
    color: #fff;
    background-color: #000;
}
.footer-social {
    position: relative;
}
.footer-social .footer-logo {
    margin: 20px 0;
}
.footer-social .footer-logo img {
}
.footer-social .footer-social-content {
}
.footer-social .footer-social-content p {
    line-height: 25px;
    font-weight: 400;
    margin: 31px 0;
}
.footer-social-menu {
    margin-top: 46px;
    display: block;
    font-size: 18px;
    font-weight: 400;
}
.footer-social-menu ul {
    flex-direction: row;
}
.footer-social-menu ul li {
    padding: 0 10px;
}
.footer-social-menu ul li a{
    color: #fff;
    transition: .4s;
}
.footer-social-menu ul li a:hover{
    color: #e83b3e;
}
.quick-link-column {
}
.quick-link-column ul {
}
.quick-link-column ul li {
}
.quick-link-column ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 10px 0;
    transition: 0.4s;
}
.quick-link-column ul li a:hover {
    color: #e73c3e;
    letter-spacing: 2px;
}

.contact-us {
}
.contact-us-content {
}
.contact-us-content ul {
}
.contact-us-content ul li {
    position: relative;
    padding-left: 40px;
}
.contact-us-content ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
}
.contact-us-content ul li.location::before {
    content: "\f124";
}
.contact-us-content ul li.mail::before {
    content: "\f0e0";
}
.contact-us-content ul li.telephone::before {
    content: "\f095";
}

.contact-us-content ul li a {
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}
.contact-us-content ul li a:hover {
    color: #e73c3e;
}

hr.upper-copy {
    background-color: #606060 !important;
    padding: 0;
    margin: 0;
    color: #606060;
}

/* Copyright */
.copy-right-section {
    background: #000;
}
.copy-right-text {
    font-weight: 400;
}
.copy-right-text p {
    margin-bottom: 0;
}
.copy-right-text p a {
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}
.copy-right-text p a:hover {
    color: #e73c3e;
}
